.mart{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    background-color: rgba(10, 10, 73, 0.799);
    color:white;
    margin-top: 30px;
  

   
   
    
}
.margin p{
    margin:3px

}